In [144]:
import pandas as pd

# 1. Reading scraped data

In [171]:
df = pd.read_csv(r"D:\flipkart reviews\scraped data\reviews.csv")
df.tail(5)

,product_name,brand_name,price,sold,prod_url,customer_name,purchase_date,customers_city,rating,comment_head,comment
51230,Whirlpool 570 L Frost Free Side by Side Invert...,Whirlpool,72990.0,903.0,https://www.flipkart.com/whirlpool-570-l-frost...,Pruthvi Teja,"Mar, 2021",Amalapuram,5.0,Super!,Best in class refrigerator & Thanks to whirlpo...
51231,Whirlpool 570 L Frost Free Side by Side Invert...,Whirlpool,72990.0,903.0,https://www.flipkart.com/whirlpool-570-l-frost...,Praveen Kumar Singh,"Jan, 2021",Purnia,4.0,Wonderful,A Nice refrigerator delivered without any flaw...
51232,Whirlpool 570 L Frost Free Side by Side Invert...,Whirlpool,72990.0,903.0,https://www.flipkart.com/whirlpool-570-l-frost...,Samrat Mallick,"Dec, 2020",Burdwan,5.0,Perfect product!,Nice product.
51233,Whirlpool 570 L Frost Free Side by Side Invert...,Whirlpool,72990.0,903.0,https://www.flipkart.com/whirlpool-570-l-frost...,anand kumar,"Oct, 2020",Bengaluru,5.0,Great product,Excellent refrigerator
51234,Whirlpool 570 L Frost Free Side by Side Invert...,Whirlpool,72990.0,903.0,https://www.flipkart.com/whirlpool-570-l-frost...,Ramandeep kaur,"Aug, 2020",Patiala,5.0,Highly recommended,Nice product .capacity is good .must buy

In [200]:
df['product_name'].unique()

array(['BOSCH 263 L Frost Free Double Door Top Mount 3 Star Convertible Refrigerator ',
       'CANDY 170 L Direct Cool Single Door 2 Star Refrigerator ',
       'CANDY 195 L Direct Cool Single Door 3 Star Refrigerator ',
       'CANDY 258 L Frost Free Double Door 2 Star Convertible Refrigerator ',
       'Godrej 185 L Direct Cool Single Door 2 Star Refrigerator ',
       'Godrej 185 L Direct Cool Single Door 3 Star Refrigerator ',
       'Godrej 185 L Direct Cool Single Door 4 Star Refrigerator ',
       'Godrej 190 L Direct Cool Single Door 5 Star Refrigerator  with Base Drawer and Intelligent Inverter Compressor ',
       'Godrej 190 L Direct Cool Single Door 5 Star Refrigerator ',
       'Godrej 192 L Direct Cool Single Door 2 Star Refrigerator ',
       'Godrej 225 L Direct Cool Single Door 3 Star Refrigerator with Base Drawer  with Intelligent Inverter Compressor ',
       'Godrej 236 L Frost Free Double Door 2 Star Refrigerator ',
       'Godrej 240 L Direct Cool Single Door 4 Star Refrigerator with Base Drawer ',
       'Godrej 244 L Frost Free Double Door 3 Star Convertible Refrigerator ',
       'Godrej 265 L Frost Free Double Door 3 Star Convertible Refrigerator ',
       'Godrej 30 L Qube Personal Cooling Solution ',
       'Godrej 564 L Frost Free Side by Side Refrigerator ',
       'Godrej 99 L Direct Cool Single Door 2 Star Refrigerator ',
       'Haier 170 L Direct Cool Single Door 2 Star Refrigerator ',
       'Haier 181 L Direct Cool Single Door 2 Star Refrigerator ',
       'Haier 182 L Direct Cool Single Door 2 Star Refrigerator ',
       'Haier 190 L Direct Cool Single Door 2 Star Refrigerator ',
       'Haier 192 L Direct Cool Single Door 3 Star Refrigerator ',
       'Haier 192 L Direct Cool Single Door 3 Star Refrigerator with Base Drawer ',
       'Haier 195 L Direct Cool Single Door 4 Star Refrigerator ',
       'Haier 195 L Direct Cool Single Door 5 Star Refrigerator ',
       'Haier 195 L Direct Cool Single Door 5 Star Refrigerator with Base Drawer ',
       'Haier 242 L Direct Cool Single Door 3 Star Refrigerator ',
       'Haier 256 L Frost Free Double Door 3 Star Convertible Refrigerator ',
       'Haier 256 L Frost Free Double Door Bottom Mount 2 Star Convertible Refrigerator ',
       'Haier 256 l Frost Free Double Door Bottom Mount 3 Star Convertible Refrigerator ',
       'Haier 276 L Frost Free Double Door 3 Star Convertible Refrigerator ',
       'Haier 278 L Frost Free Double Door 3 Star Convertible Refrigerator ',
       'Haier 346 L Frost Free Double Door 3 Star Convertible Refrigerator ',
       'Haier 460 L Frost Free Double Door 4 Star Convertible Refrigerator ',
       'Haier 53 L Direct Cool Single Door 2 Star Refrigerator ',
       'Haier 570 L Frost Free Side by Side Refrigerator ',
       'Haier 630 L Frost Free Side by Side Convertible Refrigerator ',
       'Hisense 507 L Frost Free French Door Bottom Mount Inverter Technology Star Convertible Refrigerator with Base Drawer ',
       'Hitachi 565 L Frost Free Double Door 3 Star Refrigerator ',
       'Kelvinator 190 L Direct Cool Single Door 2 Star Refrigerator ',
       'LG 190 L Direct Cool Single Door 2 Star Refrigerator ',
       'LG 190 L Direct Cool Single Door 3 Star Refrigerator ',
       'LG 190 L Direct Cool Single Door 3 Star Refrigerator with Base Drawer ',
       'LG 190 L Direct Cool Single Door 4 Star Refrigerator ',
       'LG 190 L Direct Cool Single Door 4 Star Refrigerator with Base Drawer ',
       'LG 190 L Direct Cool Single Door 5 Star Refrigerator with Base Drawer  with Smart Inverter Compressor ',
       'LG 215 L Direct Cool Single Door 3 Star Refrigerator  with Fast Ice Making ',
       'LG 215 L Direct Cool Single Door 3 Star Refrigerator with Base Drawer  with Fast Ice Making ',
       'LG 215 L Direct Cool Single Door 4 Star Refrigerator ',
       "LG 215 L Direct Cool Single Door 5 Star Refrigerator  with Smart Inverter With Smart Connect , Moist 'N' Fresh ",
       'LG 235 L Direct Cool Single Door 4 Star Refrigerator with Base Drawer ',
       'LG 235 L Direct Cool Single Door 5 Star Refrigerator with Base Drawer ',
       'LG 260 L Frost Free Double Door 2 Star Convertible Refrigerator  with Convertible Refrigerator ',
       'LG 260 L Frost Free Double Door 2 Star Refrigerator ',
       'LG 260 L Frost Free Double Door 3 Star Refrigerator ',
       'LG 260 L Frost Free Double Door Top Mount 2 Star Refrigerator ',
       'LG 260 L Frost Free Double Door Top Mount 3 Star Refrigerator  with Smart Inverter ',
       'LG 270 L Direct Cool Single Door 3 Star Refrigerator ',
       'LG 360 L Frost Free Double Door 3 Star Convertible Refrigerator  with Smart Inverter Technology & Wi-Fi , Door Cooling+ ',
       'LG 516 L Frost Free Double Door 2 Star Refrigerator ',
       'LG 547 L Frost Free Double Door 3 Star Refrigerator  with with Door Cooling and Smart ThinQ(WiFi Enabled) ',
       'LG 630 L Frost Free Double Door 3 Star Refrigerator ',
       'LG 675 L Frost Free Side by Side Refrigerator  with with Door Cooling and Smart ThinQ(WiFi Enabled) ',
       'LG 679 L Frost Free Side by Side Refrigerator  with With Multi Air Flow ',
       'Liebherr 265 L Frost Free Double Door Top Mount 3 Star Refrigerator ',
       'Liebherr 472 L Frost Free Double Door Top Mount 2 Star Refrigerator ',
       'Lloyd 200 L Direct Cool Single Door 4 Star Refrigerator with Base Drawer ',
       'MarQ by Flipkart 190 L Direct Cool Single Door 3 Star Refrigerator ',
       'MarQ by Flipkart 560 L Frost Free Side by Side Refrigerator  with Water Dispenser ',
       'MarQ by Flipkart 563 L Frost Free Side by Side Refrigerator ',
       'Midea 45 L Direct Cool Single Door 2 Star Refrigerator ',
       'Midea 482 L Frost Free Side by Side Refrigerator ',
       'Midea 544 L Frost Free French Door Bottom Mount Refrigerator ',
       'Midea 591 L Frost Free Side by Side Refrigerator ',
       'Midea 95 L Direct Cool Single Door 1 Star Refrigerator ',
       'MOTOROLA 338 L Frost Free Double Door 3 Star Convertible Refrigerator ',
       'MOTOROLA 507 L Frost Free Multi-Door Convertible Refrigerator ',
       'Motorola 533 L Smart Wifi Enabled Frost Free Multi-Door Refrigerator ',
       'ONIDA 190 L Direct Cool Single Door 3 Star Refrigerator ',
       'Panasonic 296 L Frost Free Double Door 2 Star Refrigerator ',
       'Panasonic 309 L Frost Free Double Door 3 Star Refrigerator ',
       'realme TechLife 280 L Frost Free Double Door 3 Star Refrigerator ',
       'realme TechLife 308 L Frost Free Double Door 3 Star Refrigerator ',
       'realme TechLife 338 L Frost Free Double Door 3 Star Refrigerator ',
       'SAMSUNG 192 L Direct Cool Single Door 1 Star Refrigerator ',
       'SAMSUNG 192 L Direct Cool Single Door 2 Star Refrigerator ',
       'SAMSUNG 192 L Direct Cool Single Door 2 Star Refrigerator with Base Drawer ',
       'SAMSUNG 192 L Direct Cool Single Door 3 Star Refrigerator with Base Drawer ',
       'SAMSUNG 192 L Direct Cool Single Door 4 Star Refrigerator  with Digi Touch Cool, Curd Maestro ',
       'SAMSUNG 198 L Direct Cool Single Door 3 Star Refrigerator ',
       'SAMSUNG 198 L Direct Cool Single Door 4 Star Refrigerator ',
       'SAMSUNG 198 L Direct Cool Single Door 4 Star Refrigerator with Base Drawer ',
       'SAMSUNG 198 L Direct Cool Single Door 5 Star Refrigerator with Base Drawer ',
       'SAMSUNG 220 L Direct Cool Single Door 4 Star Refrigerator  with Curd Maestro ',
       'SAMSUNG 220 L Direct Cool Single Door 4 Star Refrigerator  with Digi Touch Cool, Curd Maestro ',
       'SAMSUNG 225 L Direct Cool Single Door 4 Star Refrigerator ',
       'SAMSUNG 225 L Direct Cool Single Door 5 Star Refrigerator with Base Drawer ',
       'SAMSUNG 230 L Direct Cool Single Door 3 Star Refrigerator ',
       'SAMSUNG 244 L Frost Free Double Door 3 Star Refrigerator  with Curd Maestro ',
       'SAMSUNG 253 l Frost Free Double Door 1 Star Refrigerator ',
       'SAMSUNG 253 L Frost Free Double Door 2 Star Convertible Refrigerator ',
       'SAMSUNG 253 L Frost Free Double Door 2 Star Refrigerator ',
       'SAMSUNG 253 L Frost Free Double Door 2 Star Refrigerator with Base Drawer ',
       'SAMSUNG 253 L Frost Free Double Door 3 Star Refrigerator ',
       'SAMSUNG 255 L Direct Cool Single Door 3 Star Refrigerator with Base Drawer ',
       'SAMSUNG 275 L Frost Free Double Door 3 Star Refrigerator ',
       'SAMSUNG 314 l Frost Free Double Door 2 Star Convertible Refrigerator  with with Curd Maestro ',
       'SAMSUNG 324 L Frost Free Double Door 2 Star Convertible Refrigerator ',
       'SAMSUNG 336 L Frost Free Double Door 2 Star Refrigerator  with Curd Maestro ',
       'SAMSUNG 345 L Frost Free Double Door 3 Star Convertible Refrigerator ',
       'SAMSUNG 394 L Frost Free Double Door 2 Star Refrigerator ',
       'Whirlpool 190 L Direct Cool Single Door 2 Star Refrigerator ',
       'Whirlpool 190 L Direct Cool Single Door 2 Star Refrigerator with Base Drawer ',
       'Whirlpool 190 L Direct Cool Single Door 3 Star Refrigerator ',
       'Whirlpool 190 L Direct Cool Single Door 4 Star Refrigerator  with Intellisense Inverter Compressor ',
       'Whirlpool 190 L Direct Cool Single Door 4 Star Refrigerator ',
       'Whirlpool 190 L Direct Cool Single Door 4 Star Refrigerator with Base Drawer  with Intellisense Inverter Compressor ',
       'Whirlpool 190 L Frost Free Single Door 3 Star Refrigerator ',
       'Whirlpool 200 L Direct Cool Single Door 3 Star Refrigerator ',
       'Whirlpool 200 L Direct Cool Single Door 4 Star Refrigerator with Base Drawer ',
       'Whirlpool 215 L Direct Cool Single Door 3 Star Refrigerator ',
       'Whirlpool 215 L Direct Cool Single Door 5 Star Refrigerator ',
       'Whirlpool 215 L Direct Cool Single Door 5 Star Refrigerator with Base Drawer ',
       'Whirlpool 240 L Frost Free Triple Door Refrigerator ',
       'Whirlpool 245 L Frost Free Double Door 2 Star Refrigerator ',
       'Whirlpool 260 L Frost Free Triple Door Refrigerator ',
       'Whirlpool 265 L Frost Free Double Door 2 Star Convertible Refrigerator ',
       'Whirlpool 265 L Frost Free Double Door 2 Star Refrigerator  with Glass Door ',
       'Whirlpool 265 L Frost Free Double Door 2 Star Refrigerator ',
       'Whirlpool 265 L Frost Free Double Door 3 Star Convertible Refrigerator ',
       'Whirlpool 280 L Direct Cool Single Door 3 Star Refrigerator  with Auto Defrost ',
       'Whirlpool 292 L Frost Free Double Door 2 Star Refrigerator  with Glass Door ',
       'Whirlpool 292 L Frost Free Double Door 3 Star Convertible Refrigerator ',
       'Whirlpool 300 L Frost Free Triple Door Refrigerator ',
       'Whirlpool 330 L Frost Free Triple Door Refrigerator ',
       'Whirlpool 340 L Frost Free Double Door 3 Star Convertible Refrigerator ',
       'Whirlpool 440 L Frost Free Double Door 3 Star Convertible Refrigerator ',
       'Whirlpool 570 L Frost Free Side by Side Inverter Technology Star Refrigerator '],
      dtype=object)

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51235 entries, 0 to 51234
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_name    51155 non-null  object
 1   brand_name      51155 non-null  object
 2   price           51155 non-null  float64
 3   sold            51155 non-null  float64
 4   prod_url        51155 non-null  object
 5   customer_name   51118 non-null  object
 6   purchase_date   51155 non-null  object
 7   customers_city  51155 non-null  object
 8   rating          51155 non-null  float64
 9   comment_head    51155 non-null  object
 10  comment         51150 non-null  object
dtypes: float64(3), object(8)
memory usage: 4.3+ MB

In [173]:
len(df)

51235

# 2. Removing null values

In [174]:
df.isna().sum()

product_name       80
brand_name         80
price              80
sold               80
prod_url           80
customer_name     117
purchase_date      80
customers_city     80
rating             80
comment_head       80
comment            85
dtype: int64

In [175]:
df.dropna(inplace=True, axis=0)

In [176]:
df.isna().sum()

product_name      0
brand_name        0
price             0
sold              0
prod_url          0
customer_name     0
purchase_date     0
customers_city    0
rating            0
comment_head      0
comment           0
dtype: int64

In [177]:
len(df)

51113

### 122 rows removed

# 3. correcting data types

In [178]:
df.dtypes

product_name       object
brand_name         object
price             float64
sold              float64
prod_url           object
customer_name      object
purchase_date      object
customers_city     object
rating            float64
comment_head       object
comment            object
dtype: object

In [179]:
convert= {'sold':int, 'rating':int}
df = df.astype(convert)

In [180]:
df.dtypes

product_name       object
brand_name         object
price             float64
sold                int32
prod_url           object
customer_name      object
purchase_date      object
customers_city     object
rating              int32
comment_head       object
comment            object
dtype: object

# 4. Correcting date format

In [181]:
df['purchase_date'].unique()

array(['1 month ago', '2 months ago', '3 months ago', '4 months ago',
       '5 months ago', '6 months ago', '7 months ago', '1 day ago',
       '2 days ago', '3 days ago', '8 days ago', '9 days ago',
       '13 days ago', '19 days ago', '20 days ago', '21 days ago',
       '22 days ago', '23 days ago', '25 days ago', '26 days ago',
       '28 days ago', '8 months ago', '9 months ago', '10 months ago',
       '11 months ago', 'Jan, 2022', 'Dec, 2021', 'Nov, 2021',
       'Oct, 2021', 'Sep, 2021', 'Aug, 2021', 'Jul, 2021', 'Jun, 2021',
       'May, 2021', 'Apr, 2021', 'Mar, 2021', '12 days ago',
       '27 days ago', '4 days ago', '5 days ago', '7 days ago',
       '14 days ago', '18 days ago', '24 days ago', '30 days ago',
       '6 days ago', '10 days ago', '11 days ago', '15 days ago',
       '17 days ago', '29 days ago', 'Feb, 2021', 'Jan, 2021',
       'Dec, 2020', 'Nov, 2020', 'Oct, 2020', 'Sep, 2020', 'Aug, 2020',
       'Jul, 2020', 'Jun, 2020', 'Today', 'Mar, 2020', 'Jan, 2020',
       'Dec, 2019', 'Nov, 2019', 'Nov, 2018', 'Oct, 2018', 'Sep, 2018',
       'Aug, 2018', 'Jul, 2018', 'May, 2018', 'Apr, 2018', '16 days ago',
       'May, 2020', 'Feb, 2020', 'Oct, 2019', 'Sep, 2019', 'Jul, 2019',
       'Aug, 2019', 'Jun, 2019', 'May, 2019', 'Apr, 2019', 'Mar, 2019',
       'Feb, 2019', 'Jan, 2019', 'Dec, 2018', 'Jun, 2018', 'Mar, 2018',
       'Sep, 2017', 'May, 2017', 'Jan, 2017', 'Apr, 2020', 'Feb, 2018',
       'Jan, 2018', 'Dec, 2017', 'Nov, 2017', 'Apr, 2017', 'Mar, 2017',
       'Feb, 2017', 'Nov, 2016', 'Oct, 2016', 'Sep, 2016', 'Aug, 2016',
       'Jul, 2016', 'Jun, 2016', 'May, 2016', 'Oct, 2017', 'Aug, 2017',
       'Jul, 2017', 'Dec, 2016', 'Jun, 2017', 'Apr, 2016', 'Mar, 2016'],
      dtype=object)

## 4.1 Get_prev_date() function will take values like '1 day ago', '2 days ago' and will return actual month name with year

In [182]:
import datetime
from dateutil import relativedelta
import calendar

In [183]:
# Using datetime module to find current month and year
now = datetime.datetime.now()
month = now.strftime("%b")
year = now.strftime("%Y")
print(f"{month}, {year}")

Jan, 2023

In [184]:
def get_prev_date(value):
    if ("days" in value or "day" in value):
        return f"{month}, {year}"
    else:
        return value

### eg:-

In [185]:
get_prev_date('30 days ago')

'Jan, 2023'

### Lets apply get_prev_date() to 'purchase_date' column

In [186]:
df['purchase_date'] = df['purchase_date'].apply(get_prev_date)

In [187]:
df['purchase_date'].unique()

array(['1 month ago', '2 months ago', '3 months ago', '4 months ago',
       '5 months ago', '6 months ago', '7 months ago', 'Jan, 2023',
       '8 months ago', '9 months ago', '10 months ago', '11 months ago',
       'Jan, 2022', 'Dec, 2021', 'Nov, 2021', 'Oct, 2021', 'Sep, 2021',
       'Aug, 2021', 'Jul, 2021', 'Jun, 2021', 'May, 2021', 'Apr, 2021',
       'Mar, 2021', 'Feb, 2021', 'Jan, 2021', 'Dec, 2020', 'Nov, 2020',
       'Oct, 2020', 'Sep, 2020', 'Aug, 2020', 'Jul, 2020', 'Jun, 2020',
       'Mar, 2020', 'Jan, 2020', 'Dec, 2019', 'Nov, 2019', 'Nov, 2018',
       'Oct, 2018', 'Sep, 2018', 'Aug, 2018', 'Jul, 2018', 'May, 2018',
       'Apr, 2018', 'May, 2020', 'Feb, 2020', 'Oct, 2019', 'Sep, 2019',
       'Jul, 2019', 'Aug, 2019', 'Jun, 2019', 'May, 2019', 'Apr, 2019',
       'Mar, 2019', 'Feb, 2019', 'Jan, 2019', 'Dec, 2018', 'Jun, 2018',
       'Mar, 2018', 'Sep, 2017', 'May, 2017', 'Jan, 2017', 'Apr, 2020',
       'Feb, 2018', 'Jan, 2018', 'Dec, 2017', 'Nov, 2017', 'Apr, 2017',
       'Mar, 2017', 'Feb, 2017', 'Nov, 2016', 'Oct, 2016', 'Sep, 2016',
       'Aug, 2016', 'Jul, 2016', 'Jun, 2016', 'May, 2016', 'Oct, 2017',
       'Aug, 2017', 'Jul, 2017', 'Dec, 2016', 'Jun, 2017', 'Apr, 2016',
       'Mar, 2016'], dtype=object)

### As we can see here, we have converted '1 day ago', '2 days ago' to 'Jan, 2023'.

## 4.2 Get_prev_month() function will take values like '1 month ago', '2 months ago' and will return actual month name with year

In [188]:
def get_prev_month(value):
    if ("month" in value or "months" in value):
        n = int(value[0])
        # Get the current date and extract the year and month
        now = datetime.datetime.now()
        month = now.month
        year = now.year
        # Decrement the month by n and handle the case where it becomes zero or negative
        month -= n
        while month <= 0:
            year -= 1
            month += 12
        # Return the name of the month and the year
        return f"{datetime.date(year, month, 1).strftime('%b')}, {year}"
    else:
        return value

### Lets apply get_prev_month() to 'purchase_date' column

In [189]:
df['purchase_date'] = df['purchase_date'].apply(get_prev_month)

In [190]:
df['purchase_date'].unique()

array(['Dec, 2022', 'Nov, 2022', 'Oct, 2022', 'Sep, 2022', 'Aug, 2022',
       'Jul, 2022', 'Jun, 2022', 'Jan, 2023', 'May, 2022', 'Apr, 2022',
       'Jan, 2022', 'Dec, 2021', 'Nov, 2021', 'Oct, 2021', 'Sep, 2021',
       'Aug, 2021', 'Jul, 2021', 'Jun, 2021', 'May, 2021', 'Apr, 2021',
       'Mar, 2021', 'Feb, 2021', 'Jan, 2021', 'Dec, 2020', 'Nov, 2020',
       'Oct, 2020', 'Sep, 2020', 'Aug, 2020', 'Jul, 2020', 'Jun, 2020',
       'Mar, 2020', 'Jan, 2020', 'Dec, 2019', 'Nov, 2019', 'Nov, 2018',
       'Oct, 2018', 'Sep, 2018', 'Aug, 2018', 'Jul, 2018', 'May, 2018',
       'Apr, 2018', 'May, 2020', 'Feb, 2020', 'Oct, 2019', 'Sep, 2019',
       'Jul, 2019', 'Aug, 2019', 'Jun, 2019', 'May, 2019', 'Apr, 2019',
       'Mar, 2019', 'Feb, 2019', 'Jan, 2019', 'Dec, 2018', 'Jun, 2018',
       'Mar, 2018', 'Sep, 2017', 'May, 2017', 'Jan, 2017', 'Apr, 2020',
       'Feb, 2018', 'Jan, 2018', 'Dec, 2017', 'Nov, 2017', 'Apr, 2017',
       'Mar, 2017', 'Feb, 2017', 'Nov, 2016', 'Oct, 2016', 'Sep, 2016',
       'Aug, 2016', 'Jul, 2016', 'Jun, 2016', 'May, 2016', 'Oct, 2017',
       'Aug, 2017', 'Jul, 2017', 'Dec, 2016', 'Jun, 2017', 'Apr, 2016',
       'Mar, 2016'], dtype=object)

### As we can see our 'purchase_date' column is cleaned and it only have month, year

## 4.3 Replacing ', ' with '-'

In [191]:
def remove_comma(value):
    value = value.replace(', ' , "-")
    return value

In [192]:
df['purchase_date'] = df['purchase_date'].apply(remove_comma)

In [193]:
df['purchase_date'].unique()

array(['Dec-2022', 'Nov-2022', 'Oct-2022', 'Sep-2022', 'Aug-2022',
       'Jul-2022', 'Jun-2022', 'Jan-2023', 'May-2022', 'Apr-2022',
       'Jan-2022', 'Dec-2021', 'Nov-2021', 'Oct-2021', 'Sep-2021',
       'Aug-2021', 'Jul-2021', 'Jun-2021', 'May-2021', 'Apr-2021',
       'Mar-2021', 'Feb-2021', 'Jan-2021', 'Dec-2020', 'Nov-2020',
       'Oct-2020', 'Sep-2020', 'Aug-2020', 'Jul-2020', 'Jun-2020',
       'Mar-2020', 'Jan-2020', 'Dec-2019', 'Nov-2019', 'Nov-2018',
       'Oct-2018', 'Sep-2018', 'Aug-2018', 'Jul-2018', 'May-2018',
       'Apr-2018', 'May-2020', 'Feb-2020', 'Oct-2019', 'Sep-2019',
       'Jul-2019', 'Aug-2019', 'Jun-2019', 'May-2019', 'Apr-2019',
       'Mar-2019', 'Feb-2019', 'Jan-2019', 'Dec-2018', 'Jun-2018',
       'Mar-2018', 'Sep-2017', 'May-2017', 'Jan-2017', 'Apr-2020',
       'Feb-2018', 'Jan-2018', 'Dec-2017', 'Nov-2017', 'Apr-2017',
       'Mar-2017', 'Feb-2017', 'Nov-2016', 'Oct-2016', 'Sep-2016',
       'Aug-2016', 'Jul-2016', 'Jun-2016', 'May-2016', 'Oct-2017',
       'Aug-2017', 'Jul-2017', 'Dec-2016', 'Jun-2017', 'Apr-2016',
       'Mar-2016'], dtype=object)

## 4.4 lets convert data type of 'purchase_date' which is object, into 'datetime'

In [194]:
df['purchase_date'] = pd.to_datetime(df['purchase_date'])

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51113 entries, 0 to 51234
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_name    51113 non-null  object
 1   brand_name      51113 non-null  object
 2   price           51113 non-null  float64
 3   sold            51113 non-null  int32
 4   prod_url        51113 non-null  object
 5   customer_name   51113 non-null  object
 6   purchase_date   51113 non-null  datetime64[ns]
 7   customers_city  51113 non-null  object
 8   rating          51113 non-null  int32
 9   comment_head    51113 non-null  object
 10  comment         51113 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(2), object(7)
memory usage: 4.3+ MB

In [196]:
df['purchase_date']

0       2022-12-01
1       2022-12-01
2       2022-12-01
3       2022-12-01
4       2022-12-01
           ...
51230   2021-03-01
51231   2021-01-01
51232   2020-12-01
51233   2020-10-01
51234   2020-08-01
Name: purchase_date, Length: 51113, dtype: datetime64[ns]

## 4.5 Extracting month and year from 'purchase_date' and adding them to new columns

In [197]:
df['purchase_month'] = df['purchase_date'].dt.month

In [198]:
df['purchase_year'] = df['purchase_date'].dt.year

In [199]:
df.head()

,product_name,brand_name,price,sold,prod_url,customer_name,purchase_date,customers_city,rating,comment_head,comment,purchase_month,purchase_year
0,BOSCH 263 L Frost Free Double Door Top Mount 3...,BOSCH,28990.0,150,https://www.flipkart.com/bosch-263-l-frost-fre...,Flipkart Customer,2022-12-01,Bengaluru,5,Fabulous!,Super product,12,2022
1,BOSCH 263 L Frost Free Double Door Top Mount 3...,BOSCH,28990.0,150,https://www.flipkart.com/bosch-263-l-frost-fre...,vikas araspure,2022-12-01,Kamptee,5,Terrific,Excellent,12,2022
2,BOSCH 263 L Frost Free Double Door Top Mount 3...,BOSCH,28990.0,150,https://www.flipkart.com/bosch-263-l-frost-fre...,Jahnavi Sonti,2022-12-01,West Godavari District,5,Mind-blowing purchase,Very good instalation good behaviour all doubt...,12,2022
3,BOSCH 263 L Frost Free Double Door Top Mount 3...,BOSCH,28990.0,150,https://www.flipkart.com/bosch-263-l-frost-fre...,Vineet Kakkar,2022-12-01,Gautam Buddha Nagar District,5,Best in the market!,Nice product value for money,12,2022
4,BOSCH 263 L Frost Free Double Door Top Mount 3...,BOSCH,28990.0,150,https://www.flipkart.com/bosch-263-l-frost-fre...,Osmita Das,2022-12-01,Kolkata,5,Fabulous!,Just awesome ðŸ‘Œ,12,2022

In [202]:
df.dtypes

product_name              object
brand_name                object
price                    float64
sold                       int32
prod_url                  object
customer_name             object
purchase_date     datetime64[ns]
customers_city            object
rating                     int32
comment_head              object
comment                   object
purchase_month             int64
purchase_year              int64
dtype: object