In [1]:
import pandas as pd

In [3]:
url_csv_loc = r"D:\flipkart reviews\product_urls\air conditioner.csv"
df = pd.read_csv(url_csv_loc)
df = df[['prod_links','scraped_status']][df['scraped_status']=='not scraped']
url_list = list(df['prod_links'])
len(url_list)

0

In [5]:
url_csv_loc = r"D:\flipkart reviews\product_urls\laptop.csv"
df = pd.read_csv(url_csv_loc)
df = df[['prod_links','scraped_status']][df['scraped_status']=='not scraped']
url_list = list(df['prod_links'])
len(url_list)

0

In [6]:
url_csv_loc = r"D:\flipkart reviews\product_urls\refrigerator.csv"
df = pd.read_csv(url_csv_loc)
df = df[['prod_links','scraped_status']][df['scraped_status']=='not scraped']
url_list = list(df['prod_links'])
len(url_list)

0

In [15]:
url_csv_loc = r"D:\flipkart reviews\product_urls\television.csv"
df = pd.read_csv(url_csv_loc)
df = df[['prod_links','scraped_status']][df['scraped_status']=='not scraped']
url_list = list(df['prod_links'])
len(url_list)

0

In [16]:
url_csv_loc = r"D:\flipkart reviews\product_urls\washing machine.csv"
df = pd.read_csv(url_csv_loc)
df = df[['prod_links','scraped_status']][df['scraped_status']=='not scraped']
url_list = list(df['prod_links'])
len(url_list)

273

In [2]:
url_csv_loc = r"D:\flipkart reviews\product_urls\smartphone.csv"
df = pd.read_csv(url_csv_loc)
df = df[['prod_links','scraped_status']][df['scraped_status']=='not scraped']
url_list = list(df['prod_links'])
len(url_list)

1

In [8]:
link = list(df['prod_links'])[0]

In [4]:
link

'https://www.flipkart.com/poco-x4-pro-5g-yellow-128-gb/p/itmb83ad4770deb1?pid=MOBGCGZZUJYWASGY&lid=LSTMOBGCGZZUJYWASGYQOQWSS&marketplace=FLIPKART&q=smartphone&store=tyy%2F4io&srno=s_16_370&otracker=search&fm=organic&iid=66521b80-e9ab-4da3-bf57-097c38b19e0f.MOBGCGZZUJYWASGY.SEARCH&ppt=None&ppn=None&ssid=sczp7msstc0000001673378187746&qH=1036ba3c4ed2c021'

In [5]:
df['scraped_status'][df['prod_links']==link] = 'scraped'

In [6]:
df.to_csv(url_csv_loc,index=False)

In [2]:
url_csv_loc = r"D:\flipkart reviews\product_urls\water purifier.csv"
df = pd.read_csv(url_csv_loc)
df = df[['prod_links','scraped_status']][df['scraped_status']=='not scraped']
url_list = list(df['prod_links'])
len(url_list)

199

In [3]:
link = list(df['prod_links'])[0]
link

'https://www.flipkart.com/kent-ace-extra-alkaline-8-l-ro-uv-uf-tds-control-tank-water-purifier/p/itm974abf3626343?pid=WAPFU3S8F3GAQATQ&lid=LSTWAPFU3S8F3GAQATQTHIJJJ&marketplace=FLIPKART&q=water+purifier&store=j9e%2Fabm%2Fi45&srno=s_3_67&otracker=search&fm=organic&iid=en_yJs5t9vwewEvjA3pfHWxK8PXMSF6tQwyao0L9ot%2B3xkjk7t66ze9hpBxfY30pq%2FcvgEJiuolZBWZNhSgcoezXA%3D%3D&ppt=None&ppn=None&ssid=t6uwnlf3io0000001673376736069&qH=57f97975143685a0'

In [4]:
df['scraped_status'][df['prod_links']==link] = 'scraped'

In [5]:
df.to_csv(url_csv_loc,index=False)

In [32]:
df = pd.read_csv(r"D:\flipkart reviews\all csv combine\raw_reviews.csv")
df.head()

,prod_id,product_name,brand_name,category,price,sold,prod_url,customer_name,purchase_date,customers_city,rating,comment_head,comment
0,lapto6288,acer Aspire 3 Core i5 11th Gen - (8 GB/512 GB ...,acer,laptop,44999.0,1.0,https://www.flipkart.com/acer-aspire-3-core-i5...,Flipkart Customer,4 days ago,Karimpur,5.0,Great product,Very good product ðŸ™‚ðŸŽˆðŸŽˆðŸŽˆðŸŽˆðŸŽˆ
1,lapto6288,acer Aspire 3 Core i5 11th Gen - (8 GB/512 GB ...,acer,laptop,44999.0,1.0,https://www.flipkart.com/acer-aspire-3-core-i5...,Flipkart Customer,4 days ago,Ranchi,4.0,Really Nice,nice
2,lapto6288,acer Aspire 3 Core i5 11th Gen - (8 GB/512 GB ...,acer,laptop,44999.0,1.0,https://www.flipkart.com/acer-aspire-3-core-i5...,Dhiraj Jaiswal,5 days ago,Sidhi,3.0,Does the job,Good
3,lapto6288,acer Aspire 3 Core i5 11th Gen - (8 GB/512 GB ...,acer,laptop,44999.0,1.0,https://www.flipkart.com/acer-aspire-3-core-i5...,Vasamsetti Durgayya,11 days ago,Hyderabad,5.0,Best in the market!,Good product at this price.i am very happy.per...
4,lapto6288,acer Aspire 3 Core i5 11th Gen - (8 GB/512 GB ...,acer,laptop,44999.0,1.0,https://www.flipkart.com/acer-aspire-3-core-i5...,Flipkart Customer,14 days ago,Bengaluru,1.0,Did not meet expectations,Worst laptop don't buy this laptop

In [35]:
df['product_name'][0][0:31]

'acer Aspire 3 Core i5 11th Gen '

# https://geokeo.com/

In [1]:
import requests

In [34]:
import requests

url = 'https://geokeo.com/geocode/v1/search.php?q=East Godavari District&api=ca860c37d0eb65b9a0d288575d508871'


resp = requests.get(url=url)
data = resp.json()
if 'status' in data:
    if data['status']=='ok':
        #address=data['results'][0]['formatted_address']
        latitude=data['results'][0]['geometry']['location']['lat']
        longitude=data['results'][0]['geometry']['location']['lng']
        #do something with the data
        
        print(f"{latitude} {longitude}")

17.27502921741798 81.8964011244954

In [21]:
df = pd.read_csv(r"D:\fri\CANDY 258 L Frost Free Double Door 2 Star Convertible Refrigerator .csv")

In [22]:
df = df.iloc[0:5 , 8:9]

In [23]:
df.head(10)

           customers_city
0                Gulbarga
1                  Bhopal
2              Peddapalle
3  East Godavari District
4             Vissannapet

In [26]:
df['lat']=0
df['lng']=0

In [27]:
df.head()

           customers_city  lat  lng
0                Gulbarga    0    0
1                  Bhopal    0    0
2              Peddapalle    0    0
3  East Godavari District    0    0
4             Vissannapet    0    0

In [6]:
def find_coordinates(customers_city):
    url = f'https://geokeo.com/geocode/v1/search.php?q={customers_city}&api=ca860c37d0eb65b9a0d288575d508871'
    resp = requests.get(url=url)
    data = resp.json()
    if 'status' in data:
        if data['status']=='ok':
            #address=data['results'][0]['formatted_address']
            latitude=data['results'][0]['geometry']['location']['lat']
            longitude=data['results'][0]['geometry']['location']['lng']    
            return f"{latitude}-{longitude}"

In [7]:
find_coordinates('mumbai,india')

'19.075989900319694-72.8773928'

In [39]:
df['lat-lng'] = df['customers_city'].map(find_coordinates)

In [40]:
df.head()

           customers_city  lat  lng                               lat-lng
0                Gulbarga    0    0   17.33100030016967-76.83342279999998
1                  Bhopal    0    0          23.258485700373274-77.401989
2              Peddapalle    0    0  18.612709000285697-79.37956639999999
3  East Godavari District    0    0    17.27502921741798-81.8964011244954
4             Vissannapet    0    0   17.04242735357501-80.80751578073948

In [75]:
df = pd.read_csv(r"D:\flipkart reviews\product_urls\air conditioner.csv")
df.head()

                                          prod_links scraped_status
0  https://www.flipkart.com/haier-1-4-ton-3-star-...    not scraped
1  https://www.flipkart.com/lg-1-5-ton-5-star-spl...    not scraped
2  https://www.flipkart.com/daikin-1-5-ton-5-star...    not scraped
3  https://www.flipkart.com/whirlpool-1-5-ton-3-s...    not scraped
4  https://www.flipkart.com/blue-star-1-5-ton-5-s...    not scraped

In [76]:
df['scraped_status']= 'scraped'

In [77]:
df.head()

                                          prod_links scraped_status
0  https://www.flipkart.com/haier-1-4-ton-3-star-...        scraped
1  https://www.flipkart.com/lg-1-5-ton-5-star-spl...        scraped
2  https://www.flipkart.com/daikin-1-5-ton-5-star...        scraped
3  https://www.flipkart.com/whirlpool-1-5-ton-3-s...        scraped
4  https://www.flipkart.com/blue-star-1-5-ton-5-s...        scraped

In [78]:
df.to_csv(r"D:\flipkart reviews\product_urls\air conditioner.csv" , index=False)

In [1]:
import pandas as pd

In [22]:
url_csv_loc = r"D:\flipkart reviews\product_urls\television.csv"
link = "https://www.flipkart.com/mi-5a-80-cm-32-inch-hd-ready-led-smart-android-tv-dolby-audio-2022-model/p/itm98501ffa297ba?pid=TVSGD5CS2SDUUZGN&lid=LSTTVSGD5CS2SDUUZGNWGZUUA&marketplace=FLIPKART&q=television&store=ckf%2Fczl&srno=s_2_28&otracker=search&fm=organic&iid=en_mAM4fy%2F8L64QdDnLmlCjt36LnEKjEo7bdsZf5lreEmZZglPBhdxwp7VP%2FomBqA6k9RNWXCl0m%2FxlaoRAfjh16Q%3D%3D&ppt=None&ppn=None&ssid=zh4lecwlhc0000001673377574958&qH=79464212afb7fd6c"

In [23]:
df = pd.read_csv(url_csv_loc)
len(df)

401

In [24]:
string_to_drop = "mi-5a-80-cm-32-inch"
condition = df['prod_links'].str.contains(string_to_drop)

# Drop the rows where the condition is True
df.drop(df[condition].index , inplace=True)

In [25]:
len(df)

382

In [26]:
df.to_csv(url_csv_loc, index=False)

In [27]:
df.head()

                                          prod_links scraped_status
1  https://www.flipkart.com/lg-uq7500-139-cm-55-i...        scraped
2  https://www.flipkart.com/skytron-140-cm-55-inc...        scraped
3  https://www.flipkart.com/samsung-crystal-4k-12...        scraped
4  https://www.flipkart.com/sony-164-cm-65-inch-u...        scraped
5  https://www.flipkart.com/samsung-crystal-4k-13...        scraped